ul, .container, footer {
  font-family: Arial, Helvetica, sans-serif;
}
h2, h1, #name, #title {
        font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: url(../images/background.png);
    }
.innerheader {
  padding-top:1em;
}
.img-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 70%;
}
