ul, .container, footer {
  font-family: Arial, Helvetica, sans-serif;
}
h2, h1, #name, #title {
        font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: url(../images/background.png);
    }
.innerheader {
  padding-top:1em;
}
