ul, .container, footer {
  font-family: Arial, Helvetica, sans-serif;
}
h2, h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
    background: url(../images/background.png);
    box-sizing:border-box;
    }
.innerheader {
  padding-top:1em;
}
.img-wrapper {
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 70%;
}
footer {
  border-top: solid 5px #4AAAA5;
  animation-name: footercolor;
  animation-duration: 3s;
}

@keyframes footercolor {
  from {background-color: white;}
  to {background-color: #343a40;}
}